<div class="center-align">
	<h4>Concursos</h4>
</div>

<ul class="collection">
	<%contests.forEach((contest) => {%>
    <li class="collection-item">
		<span class="title"><b><%=contest.title%></b></span>
		<p>
			<%if(contest.prize1 != null || contest.prize2 != null || contest.prize3 != null){%>
				<%if(contest.prize1 != null && contest.prize2 == null && contest.prize3 == null){%>
				Premio: <%=contest.prize1%><br>
				<%}else{%>
					Premios:
					<%if(contest.prize1 != null){%>
						<i class="tiny material-icons">looks_one</i><%=contest.prize1%>
					<%}%>
					<%if(contest.prize2 != null){%>
						<i class="tiny material-icons">looks_two</i><%=contest.prize2%>
					<%}%>
					<%if(contest.prize3 != null){%>
						<i class="tiny material-icons">looks_3</i><%=contest.prize3%>
					<%}%>
					<br>
				<%}%>
			<%}%>
			Cierra el <%=contest.end_date%>
		</p>
		<div class="center-align">
			<button onclick="apretaste.send({'command':'CONCURSO VER','data':{'id':<%=contest.id%>}});" class="btn-small">
				Mas información
				<i class="material-icons right">info</i>
			</button>
		</div>
	</li>
	<%});%>
</ul>
<%if(winners){%>
	<div class="center-align"><button class="btn green" onclick="apretaste.send({'command':'CONCURSO GANADORES'});">Ganadores</button></div>
<%}%>
