<div class="row">
	<div class="col s12">
		<h1><%= contest.title %></h1>
		<p>Cierra el <%= moment(contest.end_date).format("D [de] MMMM [a las] h:mm a") %></p>

		<!-- PRICES AND WINNERS-->
		<% if(contest.prize1 || contest.prize2 || contest.prize3) { %>
			<h2>Premios y ganadores</h2>
			<ul class="collection">
				<% if(contest.prize1) { %>
					<li class="collection-item avatar">
					<i class="material-icons circle">looks_one</i>
					<span class="title">Primer premio</span>
					<p><%= contest.prize1 %></p>
				</li>
				<% } %>

				<% if(contest.prize2) { %>
					<li class="collection-item avatar">
					<i class="material-icons circle">looks_two</i>
					<span class="title">Segundo premio</span>
					<p><%= contest.prize2 %></p>
				</li>
				<% } %>

				<% if(contest.prize3) { %>
					<li class="collection-item avatar">
					<i class="material-icons circle">looks_3</i>
					<span class="title">Tercer premio</span>
					<p><%= contest.prize3 %></p>
				</li>
				<% } %>
			</ul>
		<% } %>

		<!-- BODY -->
		<h2>Convocatoria</h2>
		<p><%- contest.body %></p>
	</div>
</div>

<div class="bottom-space"></div>

<!-- BACK BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'CONCURSO'})"><i class="material-icons">arrow_back</i></a>
</div>