<div class="row">
	<% if(contest.is_internal == 0) { %>
		<div class="col s12">
			<div class="message notice space-top">
				<i class="fas fa-exclamation-triangle"></i>
				<p>Este concurso no está patrocinado por Apretaste. Si tiene alguna pregunta, por favor contacte directamente al creador.</p>
			</div>
		</div>
	<% } %>

	<div class="col s12">
		<h1><%= contest.title %></h1>
		<p>Cierra el <%= moment(contest.end_date).format("D [de] MMMM [a las] h:mm a") %></p>

		<!-- PRICES AND WINNERS-->
		<% if(contest.prize1 || contest.prize2 || contest.prize3) { %>
			<h2>Premios y ganadores</h2>
			<ul class="collection one-line">
				<% if(contest.prize1) { %>
					<li class="collection-item avatar">
					<i class="material-icons circle">looks_one</i>
					<span class="title">Primer premio</span>
					<p><%= contest.prize1 %></p>
				</li>
				<% } %>

				<% if(contest.prize2) { %>
					<li class="collection-item avatar">
					<i class="material-icons circle">looks_two</i>
					<span class="title">Segundo premio</span>
					<p><%= contest.prize2 %></p>
				</li>
				<% } %>

				<% if(contest.prize3) { %>
					<li class="collection-item avatar">
					<i class="material-icons circle">looks_3</i>
					<span class="title">Tercer premio</span>
					<p><%= contest.prize3 %></p>
				</li>
				<% } %>
			</ul>
		<% } %>

		<!-- BODY -->
		<h2>Convocatoria</h2>
		<p><%- contest.body %></p>
	</div>
</div>

<div class="bottom-space"></div>

<!-- BACK BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey third modal-trigger" href="#shareModal">
		<i class="material-icons">share</i>
	</a>
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'CONCURSO'})"><i class="material-icons">arrow_back</i></a>
</div>


<!-- SHARE MODAL -->
<% init(contest) %>
<div id="shareModal" class="modal">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba un texto para compartir</label>
		</div>
		<ul class="collection one-line preview">
			<li class="collection-item avatar">
				<i class="fas fa-<%= share.icon %> material-icons circle"></i>
				<span class="title"><%= share.text %></span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="share.send()" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
	</div>
</div>
