<%
var icons = [null, 'looks_one', 'looks_two', 'looks_3'];
var closeTitle = contest.is_open ? 'Cierra el' : 'Este concurso cerr&oacute; el';
var prizes = [null, contest.prize1, contest.prize2, contest.prize3];
var winners = [null, contest.winner1, contest.winner2, contest.winner3];
var totalPrizes = 0;
for (var j = 0; j < prizes.length; j++) if (prizes[j] != null) totalPrizes++;
%>

<div class = "center-align">
	<h5><%= contest.title %></h5>
</div>
<div class = "col s12">
	<b><%= closeTitle + ' ' + contest.end_date %></b>
	<p>
		<% if (totalPrizes > 0) { %>
			Premio<% if (totalPrizes > 1) {%>s<% } %>:
			<% for (var k = 1; k < totalPrizes + 1; k++) { %>
				<% if (prizes[k] != null) {%>
					<i class = "tiny material-icons">
							<%= icons[k] %>
						</i>
					<%= prizes[k] %>
				<% } %>
			<% } %>
			<br>
		<% } %>
	</p>

	<% if (!contest.is_open) { %>
		<% if (totalPrizes > 0) { %>
			Ganador<% if (totalPrizes > 1) {%>es<% } %>:
			<% for (var k = 1; k < totalPrizes + 1; k++) { %>
				<% if (winners[k] != null) {%>
					<i class = "tiny material-icons">
							<%= icons[k] %>
						</i>
					<%= winner[k] %>
				<% } %>
			<% } %>
			<br>
		<% } %>
	<% } %>
	<p> <%- contest.body %></p>
</div>

<div class = "center-align div5">
	<button class = "btn green"
			onclick = "apretaste.send({
				command: 'CONCURSO'
			});">
		Concursos
	</button>
</div>