<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Concursos</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'CONCURSO GANADORES'})">Ganadores</a></li> 
		</ul>
	</div>
</div>

<div class="row">
	<% for (var i =0; i < contests.length; i++) { var contest = contests[i]; %>
	<div class="col s12 m6 l4">
		<div class="card">
			<div class="card-content">
				<span class="card-title"><%= contest.title %></span>
				<p>Cierra el <%= formatDateTime(contest.end_date) %></p>

				<% if(contest.prize1) { %>
					<p><i class="tiny material-icons space-top">looks_one</i> <%= contest.prize1 %></p>
				<% } %>
				<% if(contest.prize2) { %>
					<p><i class="tiny material-icons">looks_two</i> <%= contest.prize2 %></p>
				<%  } %>
				<% if(contest.prize3) { %>
					<p><i class="tiny material-icons">looks_3</i> <%= contest.prize3 %></p>
				<% } %>
			</div>
			<div class="card-action grey lighten-4">
				<a class="green-text" href="#!" onclick="apretaste.send({'command':'CONCURSO VER','data':{'id':'<%= contest.id %>'}})">Ver más</a>
			</div>
		</div>
	</div>
	<% } %>
</div>