<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'CONCURSO'})">Concursos</a></li>
			<li class="tab"><a href="#" class="active">Ganadores</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<% contests.forEach(function(contest){ %>
			<% var uik = btoa(contest.title).substring(0, 5) + Math.floor(Math.random() * 1000); %>
			<div class="card">
				<div class="card-content">
					<span class="card-title"><%= contest.title %></span>
					<p>Cerró el <%= formatDateTime(contest.end_date) %></p>
				</div>
				<% if(contest.prize1 || contest.prize2 || contest.prize3) { %>
					<div class="card-tabs">
						<ul class="tabs tabs-fixed-width">
							<% if(contest.prize1) { %>
								<li class="tab">
									<a href="#tab1<%= uik %>" class="active"><i class="material-icons circle">looks_one</i></a>
								</li>
							<% } %>
							<% if(contest.prize2) { %>
								<li class="tab">
									<a href="#tab2<%= uik %>"><i class="material-icons circle">looks_two</i></a>
								</li>
							<% } %>
							<% if(contest.prize3) { %>
								<li class="tab">
									<a href="#tab3<%= uik %>"><i class="material-icons circle">looks_3</i></a>
								</li>
							<% } %>
						</ul>
					</div>
					<div class="card-content grey lighten-4" style="padding: 12px;">
						<% if(contest.prize1) { %>
							<div id="tab1<%= uik %>">
								<% if(contest.winner1) { %>
									<ul class="collection" style="margin: 0; border: none;">
										<li class="collection-item avatar grey lighten-4" style="min-height: auto;padding-top: 0;padding-bottom: 0;">
											<div class="person-avatar circle" face="<%= contest.winner1avatar %>" color="<%= contest.winner1aColor %>" size="42"></div>
											<span class="title"><a onclick="apretaste.send({'command':'PERFIL','data':{'username':'<%= contest.winner1 %>'}})">@<%= contest.winner1 %></a></span>
											<p><%= contest.prize1 %></p>
										</li>
									</ul>
								<% } else { %>
									<%= contest.prize1 %><br>
									Ganador a ser anunciado o externo
								<% } %>
							</div>
						<% } %>
						<% if(contest.prize2) { %>
							<div id="tab2<%= uik %>">
								<% if(contest.winner2) { %>
									<ul class="collection" style="margin: 0; border: none;">
										<li class="collection-item avatar grey lighten-4"
											style="min-height: auto;padding-top: 0;padding-bottom: 0;">
											<div class="person-avatar circle" face="<%= contest.winner2avatar %>" color="<%= contest.winner2aColor %>" size="42"></div>
											<span class="title"><a onclick="apretaste.send({'command':'PERFIL','data':{'username':'<%= contest.winner2 %>'}})">@<%= contest.winner2 %></a></span>
											<p><%= contest.prize2 %></p>
										</li>
									</ul>
								<% } else { %>
									<%= contest.prize2 %><br>
									Ganador a ser anunciado o externo
								<% } %>
							</div>
						<% } %>
						<% if(contest.prize3) { %>
							<div id="tab3<%= uik %>">
								<% if(contest.winner3) { %>
									<ul class="collection" style="margin: 0; border: none;">
										<li class="collection-item avatar grey lighten-4"
											style="min-height: auto;padding-top: 0;padding-bottom: 0;">
											<div class="person-avatar circle" face="<%= contest.winner3avatar %>" color="<%= contest.winner3aColor %>" size="42"></div>
											<span class="title"><a onclick="apretaste.send({'command':'PERFIL','data':{'username':'<%= contest.winner3 %>'}})">@<%= contest.winner3 %></a></span>
											<p><%= contest.prize3 %></p>
										</li>
									</ul>
								<% } else { %>
									<%= contest.prize3 %><br>
									Ganador a ser anunciado o externo
								<% } %>
							</div>
						<% } %>
					</div>
				<% } %>
			</div>
		<% }) %>
	</div>
</div>
